body {
    font-family: 'Permanent Marker', cursive;
  }

main{
    padding: 2rem;
}

a{
    text-decoration: none;
    padding:0.5rem;
    margin:0.5rem;
    font-size:1rem;
    font-family: 'Permanent Marker', cursive;

    border-bottom-right-radius: 225px 15px;
    /* border-bottom-left-radius:15px 255px; */
    border-bottom:solid 2px #41403E;
}

/*  button styles for the homepage */
button {
    background:transparent;
    padding:0.5rem;
    margin:0.5rem;
    font-size:1rem;
    font-family: 'Permanent Marker', cursive;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 2px #41403E;
}

button:hover, a.btn:hover{
 box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

li{
    list-style: none;
}

#topic-icons {
    height: 0px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#topic-horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#topic-horizontal-list li {
		display: inline;
	}