body {
    font-family: 'Permanent Marker', cursive;
    padding: 2rem;
    max-width: 70%; 
    margin: auto;   
}

header{
    text-align: center;
    margin-bottom: 3rem;
}

footer{margin-top: 50px;}

img.team{
    max-width: 100%;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}


div.subjectIntro, footer{
    display: flex; 
    justify-content: space-around;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 4px #41403E;

    padding: 2rem;
    background-color: aliceblue;
    align-items: center;
    margin-bottom: 3rem;
}

div.subjectContent{
    width: 70%; 
    margin: auto;
    margin-bottom: 3rem;
}

div.subjectContent h2{
    margin-bottom: 2rem;
}

a.btn-nav{
    padding:0.5rem;
    margin:0.5rem;
    font-size:2rem;
    font-family: 'Permanent Marker', cursive;

    border-bottom-right-radius: 225px 15px;
    border-bottom:solid 2px #41403E;
}

.answers{
    display: flex;
}

/*  button styles for the homepage */
.btn-icon {
    background:transparent;
    padding:1rem;
    margin:0.5rem;
    font-size:1rem;
    font-family: 'Permanent Marker', cursive;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 2px #41403E;
    display: block; 
    height: 100%;
}

.wrong{background-color: indianred; color: white;}
.correct{background-color: darkseagreen;}

.btn-icon:hover, a.btn-nav:hover{
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

li{
    list-style: none;
}

.table {
    display: table;
    margin: 0 auto;
    text-align: center;
}

ul#topic-horizontal-list {
	list-style: none;
	padding: 20px 0;
}

ul#topic-horizontal-list li{
    text-align: center;
    width: 250px;
    vertical-align: middle;
}

ul#topic-horizontal-list li a{
    height: 100px;
}

ul#topic-horizontal-list li img{
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    transition: all .2s ease-in-out;
}

ul#topic-horizontal-list li img:hover{
    transform: scale(0.90);
}

 /* Only apply these styles on devices which are 600px or wider */   
 @media screen and (min-width: 600px) {
	ul#topic-horizontal-list li {
		display: inline-block;
	}
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: auto;
    margin-bottom: 50px;
   } 
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 2px #41403E;
 }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    padding: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flip-card-back a{
    width: 100%;
    padding: 50px;
  }