{% extends "layout.html" %}
{% block body_content %}

    <div class="table">
        <ul id="topic-horizontal-list">

            {% for sub in subjects %}
                <li>
                    <a class="btn-icon" type="button" href='{{ url_for('subject', id='' + sub.get_subject_id())}}'>
                        <img src="{{sub.get_logo_url()}}" height="100" alt="{{sub.get_subject_name()}} logo"/>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}