<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{title}} Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="icon"  href="{{url_for('static', filename='favicon-32.png')}}">

</head>
<body>
    <header>
        <nav>
            {% if not is_home_page %}
                <ul>
                    <li><a href="/" class="btn-nav">Home</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>
    <main>

        {% block body_content %}--{% endblock %}
        
    </main>
    <footer>
        {% if not is_home_page %}
            <a href="#" onclick="history.back()" >Go back</a>
        {% endif %}
    </footer>
</body>
</html>