<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="btn">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{title}} Page</h1>

        {% block body_content %}--{% endblock %}
    </main>
    <footer>
        <p>This is the footer</p>
    </footer>
</body>
</html>