{% extends "layout.html" %}
{% block body_content %}

<div class="subjectIntro">
    <h1>{{subjectPage.get_subject_name()}}</h1>
    <img src="{{subjectPage.get_logo_url()}}" alt="{{subjectPage.get_subject_name()}} logo" height="100px" class="hero"/>
</div>

<div class="subjectContent">
    <h2>What we learned about {{subjectPage.get_subject_name()}}</h2>
    {% for para in subjectPage.get_content() %}
        <p>{{para}}</p>
    {% endfor %}



</div>

    <hr />
    <div class="subjectContent">

    <h2>Test your Knowledge</h2>

    {% for question in subjectPage.get_questions() %}

        <p>{{question.get_question()}}</p>

        <div class="answers">
            {% for answer in question.get_answers() %}
                <button class="btn-icon" value="{{answer.get_id()}}" onclick="checkAnswer('{{question.get_correct_answer()}}', '{{answer.get_id()}}', this)">{{answer.get_text()}}</button>
            {% endfor %}
        </div>

    {% endfor %}

</div>

{% endblock %}
